{% extends 'layout.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="title_left">
                    <h3>Contas a pagar </h3>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <br/>

        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: block;">
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="tooltip" data-placement="top" data-original-title="Novo"
                                   href="{{ route('bill-pays.new') }}" class="btn btn-dark">
                                    <span class="glyphicon glyphicon-plus "></span>
                                </a>
                            </div>
                        </div>

                        <table class="table ">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Data Lançamento</th>
                                <th>Nome</th>
                                <th>Recorrente ?</th>
                                <th>Valor</th>
                                <th>Categoria</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bill in bills %}
                                <tr>
                                    <td>{{ bill.id }}</td>
                                    <td>{{ bill.date_launch | date('d/m/Y') }}</td>
                                    <td>{{ bill.name }}</td>
                                    <td>{{ bill.recurrent? "Sim" : "Não" }}</td>
                                    <td>{{ bill.value | number_format(2,',','.') }}</td>
                                    <td>{{ bill.categoryCost.name }}</td>
                                    <td>
                                        <a href="{{ route('bill-pays.edit',{'id': bill.id}) }}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        |
                                        <a href="{{ route('bill-pays.show',{'id': bill.id}) }}">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                        <a href="">
                                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
